:root{
    --logo-color:#95E1D3;
    --accent-color:#F38181;
    --title-color:#333;
    --text-color: #B6B6B6;
    --text-button:#FFF;

}

*{
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.container{
    width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.header{
    padding-top: 17px;
}

.work{
   padding-top: 68px;
}

.logo{
    font-size: 30px;
    font-weight: 700;
    color: var(--logo-color);
}

.navigation-link{
    font-size: 14px;
    color: var(--logo-color);
    text-transform: uppercase;
}
.navigation-link:hover,
.navigation-link:focus{
    color: var(--accent-color);
}

.slogan{
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--title-color);
    text-align: center;
    margin-bottom: 20px;
}

.footer{
    padding-top: 10px;
    padding-bottom: 10px;
}
.our-team{
    padding-top: 100px;
    padding-bottom: 80px;
}
.work-title{
    margin-bottom: 20px;

}

.work-img{
    margin-right: 20px;
}

.line{
    width: 60px;
    height: 4px;
    background-color: var(--accent-color);
    margin-bottom: 65px;
    
}

.team-text{
    margin-bottom: 75px;
}

.footer-container{
     border-top: 1px solid;
}

.foot-btn{
    background-color: var(--logo-color);
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    padding: 11px 38px;
    border: none;
    text-transform: uppercase;
    margin-left: -20px;

